<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/app.css" rel="stylesheet">
    <link href="../static/css/bootstrap-suggest.css" rel="stylesheet">
    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/bootstrap-suggest.js"></script>
    <script src="../static/js/app.js"></script>
    <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
    <title>FRS | Architecture</title>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300|Open+Sans:300|Oxygen|Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="overlay">
        <div class="spinner-border text-primary" role="status"><span class="sr-only">Loading...</span></div>
    </div>
    <div class="nav">
        <h2> Federated Recommenation System</h2>
        <div class="dropdown">
            <button class="dropbtn">Architecture</button>
            <div class="dropdown-content">
                <a href="intro.html">Introduction</a>
                <a href="index.html">Implementation</a>
                <a href="results.html">Results</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>

        <div class="col-sm-10">
            <center>
                <h3 class="subtitle"><i>Our Implementation of FedScope Architecture</i></h3>
            </center>
            <div style="width: 100%;">
                <div style="position: relative; padding-bottom: 81.54%; padding-top: 0; height: 0;"><iframe title="Interactive image" frameborder="0" width="1159" height="945" style="position: absolute; top: 0; left: 0; width: 100%; height: 85%;" src="https://view.genial.ly/64510a2927994d0018d3e2dd" type="text/html" allowscriptaccess="always"
                        allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div>
            </div>

        </div>
        <div class="col-sm-1"></div>
    </div>

</body>

</html>